<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tworzenie notatek</title>
</head>
<body>

<div>
    <h1>Tworzenie notatek</h1>
    <div>
        <form method="post">
            <div>
                <label for="title">Note Title</label>
                <input id="title" name="title" type="text">
            </div>
            <div>
                <label for="content">Note Content</label>
                <input id="content" name="content" type="text">
            </div>
            <button>Zapisz</button>
        </form>
    </div>
</div>

</body>
</html>